<!DOCTYPE html>
<html>
<!-- Head -->
<%- partial('_partial/head') %>

<body>

<%- partial('_partial/header')%>

<div class="container">
      <%- body %>
</div>


<%- partial('_partial/footer')%>

</body>

</html>
