<% if (item.tags && item.tags.length){ %>
<%
    var tags = [];
    item.tags.forEach(function(tag){
        tags.push('<a href="' + config.root + tag.path + '">#' + tag.name + '</a>');
    });
%>
<div class="blog-tags-container" >
    <i class="material-icons">loyalty</i> <%- tags.join(' ') %>
</div>
<% } %>